* {
  box-sizing: border-box;
}

.sidenav {
	height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden;
}
.content {
  margin-left: 200px;
  padding-left: 20px;
  background-color: green;
}